<div id="navbar-top-main" class="navbar-top  navbar-dark bg-dark border-bottom">
    <div class="container px-0">
        <div class="navbar-nav align-items-center">
            <div class="d-none d-lg-inline-block">
                <span class="navbar-text mr-3">Azimuth - Maritime Quiz</span>
            </div>
            <div>
                <ul class="nav">
                    <div id="google_translate_element"></div>
                </ul>
            </div>
            <div class="ml-auto">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link scroll-me" href="#help">Wiki</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
