<section class="slice slice-lg" id="purchase">
    <div class="container">
        <div class="row row-grid align-items-center justify-content-around">
            <div class="col-lg-5 order-lg-2">
                <div class="pr-md-4">
                    <h5 class="h3">Change the way you build wesites. Forever.</h5>
                    <p class="text-muted lead my-4">With Boomerang you get components and examples, including tons of variables that will help you customize this theme with ease.</p>
                    <a href="" target="_blank" class="btn btn-primary rounded-pill btn-icon mt-4">
                        <span class="btn-inner--icon"><i class="fas fa-cart-plus"></i></span>
                        <span class="btn-inner--text">Purchase now</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="position-relative" style="z-index: 10;">
                    <img alt="Image placeholder" src="{{ 'assets/img/theme/light/app-3.png' | theme }}" class="img-center img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
